Package: drauger-plasma-theme
Version: 0.0.1
Maintainer: Thomas Castleman <batcastle@draugeros.org>
Section: kde
Architecture: all
Priority: optional
Depends: drauger-splash, drauger-wallpapers
Description: KDE Plasma theming for Drauger OS
 This package provides the default KDE Plasma theme for Drauger OS 7.7
